<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="top-bar__brand">Mercatico.</p>
      </div>
      <div class="col-md-6 top-bar__account">
        <div class="top-bar__account__option">
          <p>dsfdfd</p>
        </div>
        <div class="top-bar__account__option">
          <p>dsfdfd</p>
        </div>
        <div class="top-bar__account__option">
          <p>dsfdfd</p>
        </div>
      </div>
    </div>
  </div>
</div>

1 azul
2 azul
3 blanco
4 blanco
5 
6 blanco
7 blanco
8 azul
9 azul