body, input, textarea, button, select, p {
  font-family: 'Roboto', sans-serif;
  font-size: em(16);
  color: $color_gray;
  line-height: 1.7;
}

h1 {
  font-family: 'Arvo', serif;
  font-size: em(28);
  color: $color_darkgray;
  padding: 0 em(5) 0 em(5);
}

h2 {
  font-family: 'Arvo', serif;
  font-size: em(16);
  color: $color_darkgray;
  padding: 0 em(5) 0 em(5);
}
